.more {
  text-align: center;
}

.allPostsButton {
  display: block;
  color: white;
  border: 1px solid var(--colorSecondaryDark);
  width: 170px;
  margin: 20px auto;
  padding: 10px;
  text-align:center;

  & a {
    display: block;
  }

  &:hover {
    color: var(--colorSecondary);
    border: 1px solid var(--colorSecondary);
  }
}