.sidebar {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
}

.avatar {
  display: block;
  margin: 0 auto;
  clip-path: circle(50px at center);
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.avatar:hover {
  filter: none;
  -webkit-filter: none;
}

.sidebar img {
  width: 4.8em;
  height: 4.8em;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar img {
    width: 2.3em;
    height: 2.3em;
  }

  .avatar {
    clip-path: circle(1.1em at center);
  }

}
