:root {
  --nav-item-padding: 0.5rem;
  --header-height: 200px;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;

  /* stretch */
  left: 0;
  right: 0;
  overflow: hidden;

  height: var(--header-height);

  color: var(--colorNeutralLight);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: calc(var(--maxWidth) + (var(--nav-item-padding) * 2));
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
  z-index: 1;

  border-bottom: 1px solid #292828;

}

.navPart1,
.navPart2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none !important;
  opacity: 0.6;
  transition: 0.4s all;

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
  }
}

.avatarImage {
  width: 80px;
  border-radius: 40px;
  padding: 10px;
}

.avatarLink {
  opacity: 0.6;
  transition: 0.4s all;

  & :hover {
    transform: scale(1.1, 1.1);
    animation: predatorVision 1.1s infinite;
  }

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
  }
}

.link {
  & :hover {
    & svg {
      transform: scale(1.2, 1.2);
      fill: var(--colorLinkTextHover);
    }
  }
}

.link svg {
  fill: var(--colorNeutral);
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.starfield {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes predatorVision {
  0%, 100% {
    filter: invert(0) saturate(90%) hue-rotate(0deg);
  }
  25% {
    filter: invert(10%) saturate(410%) hue-rotate(170deg);
  }
  50% {
    filter: invert(10%) saturate(300%) hue-rotate(290deg);
  }
  75% {
    filter: invert(0%) saturate(410%) hue-rotate(70deg);
  }
}
