.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 26rem;
  max-width: 40rem;
  border: 1px solid gray;
  margin: 10px;

  & a {
    display: block;
  }

  &:hover {
    color: var(--colorSecondary);
    border: 1px solid var(--colorSecondary);
  }

  & a {
    margin: 10px;
  }
}

.title {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
